
@media (min-width: 600px) {

    #menu-button {
        display: none;
    }

    header nav {
        display: block;
        position: static; 
        background: none;
        margin-top: 0;
    }

    header nav ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 20px;
        margin: 0;
        padding: 0;
    }

    header nav a {
        padding: 0.5rem 1rem;
        font-size: 1.1rem;
    }
}